@font-face {
    font-family: 'FONTSPRING DEMO - Proxima Nova';
    src: url('FONTSPRINGDEMO-ProximaNovaRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

